html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    font-family: Arial, sans-serif;
    color: rgb(140, 156, 172);
    text-align: center;
    text-shadow: 0 5px 5px black; 
    background: radial-gradient(circle at center, rgb(81, 83, 126), rgb(26, 31, 55));
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    color: slategray;
    text-align: center;
    text-decoration: underline overline;
}

.library{
    display: grid;
    grid-template-columns: repeat(auto-fill, 250px);
    justify-content: center;
}

.card {
    padding: 15px 10px
}