html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    font-family: Arial, sans-serif;
    color: rgb(140, 156, 172);
    text-align: center;
    text-shadow: 0 5px 5px black; 
    background: radial-gradient(circle at center, rgb(81, 83, 126), rgb(26, 31, 55));
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.logo {
    height: 150px;
    width: auto;
}

button {
    text-shadow:  1px 1px black;
}

h1 {
    color: slategray;
    text-align: center;
    text-decoration: underline overline;
}

.library {
    display: grid;
    grid-template-columns: repeat(auto-fill, 250px);
    justify-content: center;
}

.card {
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    margin: 15px 10px;
    transition: transform 1s ease, box-shadow 0.3s ease, filter 1s ease;
    filter: brightness(80%);
}

.card img {
    width:100%; 
    height:100%;
    object-fit: cover; /* In case image aspect ratio is slightly off */
}

.card:hover {
    box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.7);
    transform: scale(1.05);
    filter: brightness(100%);
}


.bfav { color: gold;}
.bwish { color: rgb(0, 174, 255);}
.bcomp { color: rgb(0, 255, 0);}
.card.in-favorites {border: 3px solid gold;}
.card.in-wishlist {border: 3px solid rgb(0, 174, 255);}
.card.in-completed {border: 3px solid rgb(0, 255, 0);}